#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10



/ {
    // |00|01|02|03|04|05|         |06|07|08|09|10|11|
    // |12|13|14|15|16|17|         |18|19|20|21|22|23|
    // |24|25|26|27|28|29|         |30|31|32|33|34|35|
    //                |36|37|   |38|39|

    combos {
        combo_layer_switch {
            timeout-ms = <50>;
            bindings = <&to 2>;
            key-positions = <37 38>;
            layers = <0>;
        };
        combo_back_to_default {
            timeout-ms = <50>;
            bindings = <&to 0>;
            key-positions = <28 39>;
            layers = <1 2 3>;
        };
    };


    behaviors {
        #include "behaviors/alt_modifiers.keymap"

        ht_tp: hold_tap_tap_preferred {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                quick-tap-ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
        };
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        //Layer 0
        default_layer { 
            display-name = "Base";
            bindings = <
                &mo 1  &kp Q          &kp W          &kp E           &kp R            &kp T                                      &kp Y  &kp U            &kp I               &kp O               &kp P               &mo 1
                    
                &mo 2  &ht_tp LGUI A  &ht_tp LALT S  &ht_tp LCTRL D  &ht_tp LSHIFT F  &kp G                                      &kp H  &ht_tp RSHIFT J  &ht_tp RCTRL K      &ht_tp RALT L       &ht_tp RGUI K  &mo 2
                    
                &mo 3  &kp Z          &kp X          &kp C           &kp V            &kp B                                      &kp N  &kp M            &kp COMMA           &kp PERIOD          &kp QMARK           &mo 3
                
                                                                                      &a_BSPC_DEL  &lt 1 ESC     &kp ENTER  &kp SPACE 
            >;
        };
        //Layer 1
        symbol_layer { 
            display-name = "Symbol";
            bindings = <
                &to 0  &kp Q          &kp W          &kp E           &kp R            &kp T                     &kp Y  &kp U            &kp I               &kp O               &kp P          &none
                    
                &none  &ht_tp LGUI N1  &ht_tp LALT N2  &ht_tp LCTRL N3  &ht_tp LSHIFT N4  &kp N5                     &kp N6  &ht_tp RSHIFT N7  &ht_tp RCTRL N8  &ht_tp RALT N9  &ht_tp RGUI N0  &none
                    
                &none  &kp Z          &kp X          &kp C           &kp V            &kp B                     &kp N  &kp M            &kp COMMA           &kp PERIOD          &kp QMARK      &none
                
                                                                                      &none  &kp TAB     &to 2  &kp SPACE 
            >;
        };
        //Layer 2
        navigation_layer {
            display-name = "Navigation";
            bindings = <
                &to 0  &none  &none     &none     &none     &none                  &none                   &none                   &none               &none                     &none  &td0
                
                &none  &none  &mkp MB3  &mkp MB2  &mkp MB1  &none                  &a_MOVE_LEFT_SCRL_LEFT  &a_MOVE_DOWN_SCRL_DOWN  &a_MOVE_UP_SCRL_UP  &a_MOVE_RIGHT_SCRL_RIGHT  &none  &none
                
                &none  &none  &none     &none     &none     &none                  &none                   &none                   &none               &none                     &none  &none
                
                                                            &none  &kp LALT    &none  &none 
            >;
        };
        //Layer 3
        system_layer {
            display-name = "System";
            bindings = <
                &to 0  &none        &none  &none  &none  &none                  &bt BT_SEL 0  &bt BT_PRV  &bt BT_NXT   &none  &none        &none
                
                &none  &bootloader  &none  &none  &none  &none                  &rgb_ug RGB_TOG  &rgb_ug  RGB_BRI  &rgb_ug RGB_BRD  &none   &bootloader  &none
                          
                &none  &none        &none  &none  &none  &none                  &none         &none       &none       &none  &none        &none
                
                                                         &none  &none    &none  &none 
            >;
        };

    };
};
