/* 
    a[for alt]_key[default]_key[in combination with modifer]
*/
a_BSPC_DEL: a {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp BSPC>, <&kp DEL>;
    mods = <(MOD_LALT | MOD_RALT)>;
}; 
// a_MOVE_LEFT_SCRL_LEFT:{
//     compatible = "zmk,behavior-mod-morph";
//     #binding-cells = <0>;
//     bindings = <&mmv MOVE_LEFT>, <&msc SCRL_LEFT>;
//     mods = <(MOD_LALT | MOD_RALT)>;
// };
// a_MOVE_DOWN_SCRL_DOWN:{
//     compatible = "zmk,behavior-mod-morph";
//     #binding-cells = <0>;
//     bindings = <&mmv MOVE_DOWN>, <&msc SCRL_DOWN>;
//     mods = <(MOD_LALT | MOD_RALT)>;
// };
// a_MOVE_UP_SCRL_UP:{
//     compatible = "zmk,behavior-mod-morph";
//     #binding-cells = <0>;
//     bindings = <&mmv MOVE_UP>, <&msc SCRL_UP>;
//     mods = <(MOD_LALT | MOD_RALT)>;
// };
// a_MOVE_RIGHT_SCRL_RIGHT:{
//     compatible = "zmk,behavior-mod-morph";
//     #binding-cells = <0>;
//     bindings = <&mmv MOVE_UP>, <&msc SCRL_UP>;
//     mods = <(MOD_LALT | MOD_RALT)>;
// };