/* 
    keyoutput[default]  ¦  keyoutput[with modifer]
    agr[for alt gr (ctrl + alt)]_key[default]_key[in combination with modifer]: agr[for alt gr (ctrl + alt)]_key[default]_key[in combination with modifer]
    agr[for alt gr (ctrl + alt)]_key[default]_key[in combination with modifer]_modified: agr[for alt gr (ctrl + alt)]_key[default]_key[in combination with modifer]_modified
*/




/* 2  ¦  ² */
agr_KP_N2_DE_SUPER2: agr_KP_N2_DE_SUPER2 {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp KP_N2>, <&agr_KP_N2_DE_SUPER2_modified>;
    mods = <(MOD_LALT | MOD_RALT)>;
};
agr_KP_N2_DE_SUPER2_modified: agr_KP_N2_DE_SUPER2_modified {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&none>, <&kp DE_SUPER2>;
    mods = <(MOD_LCTL | MOD_RCTL)>;
};
/* 3  ¦  ³ */
agr_KP_N3_DE_SUPER3: agr_KP_N3_DE_SUPER3 {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp KP_N3>, <&agr_KP_N3_DE_SUPER3_modified>;
    mods = <(MOD_LALT | MOD_RALT)>;
};
agr_KP_N3_DE_SUPER3_modified: agr_KP_N3_DE_SUPER3_modified {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&none>, <&kp DE_SUPER3>;
    mods = <(MOD_LCTL | MOD_RCTL)>;
};
/* L2  ¦  End */
agr_to_2_END: agr_to_2_END {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&to 2>, <&agr_to_2_END_modified>;
    mods = <(MOD_LALT | MOD_RALT)>;
};
agr_to_2_END_modified: agr_to_2_END_modified {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&none>, <&kp END>;
    mods = <(MOD_LCTL | MOD_RCTL)>;
};
/* (  ¦  )  ¦  HOME */
agr_s_DE_LPAR_DE_RPAR_HOME: agr_s_DE_LPAR_DE_RPAR_HOME {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&s_DE_LPAR_DE_RPAR>, <&agr_s_DE_LPAR_DE_RPAR_HOME_modified>;
    mods = <(MOD_LALT | MOD_RALT)>;
};
agr_s_DE_LPAR_DE_RPAR_HOME_modified: agr_s_DE_LPAR_DE_RPAR_HOME_modified {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&none>, <&kp HOME>;
    mods = <(MOD_LCTL | MOD_RCTL)>;
};
/*  [  ¦  ] ¦  PAGE DOWN */
agr_s_DE_LBKT_DE_RBKT_PAGE_DOWN: agr_s_DE_LBKT_DE_RBKT_PAGE_DOWN {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&s_DE_LBKT_DE_RBKT>, <&agr_s_DE_LBKT_DE_RBKT_PAGE_DOWN_modified>;
    mods = <(MOD_LALT | MOD_RALT)>;
};
agr_s_DE_LBKT_DE_RBKT_PAGE_DOWN_modified: agr_s_DE_LBKT_DE_RBKT_PAGE_DOWN_modified {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&none>, <&kp PAGE_DOWN>;
    mods = <(MOD_LCTL | MOD_RCTL)>;
};
/*  =  ¦  ~ ¦  PAGE UP */
agr_s_DE_EQUAL_DE_TILDE_PAGE_UP: agr_s_DE_EQUAL_DE_TILDE_PAGE_UP {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&s_DE_EQUAL_DE_TILDE>, <&agr_s_DE_EQUAL_DE_TILDE_PAGE_UP_modified>;
    mods = <(MOD_LALT | MOD_RALT)>;
};
agr_s_DE_EQUAL_DE_TILDE_PAGE_UP_modified: agr_s_DE_EQUAL_DE_TILDE_PAGE_UP_modified {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&none>, <&kp PAGE_UP>;
    mods = <(MOD_LCTL | MOD_RCTL)>;
};


